@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020504fd;
  --foreground: #ededed;
  --textcolor: #fff;
  --heroBg: #080808;
  --cardColor: #101010;
  --border: #222222;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}
