@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --heroBg: #f9f9f9;
  --cardColor: #fafafa;
  --border: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060606;
    --foreground: #ededed;
    --textcolor: #fff;
    --heroBg: #080808;
    --cardColor: #101010;
    --border: #222222;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}